:root {
    --primary-color: #d64045;
    --secundary-color: #1C3144;
    --extra-color: #cbeef3;
    --white: #ffffff;
    --black: #000000;
}

*,
*::before,
*::after {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    color: var(--white);
}
body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 2em;
    background-color: var(--primary-color);
}
.grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 550px;
    height: 550px;
    cursor: crosshair;
    background-color: #fff;
    border-radius: 10px;
    border: 5px solid black;
}
.grid-square {
    background-color: var(--white);
    border: 1px solid rgb(207, 205, 205);
}
.hide {
    display: none;
}
